.expense-reports {
    margin: 30px 0 22px;
    padding-bottom: 1px;
    z-index: 2;
    background: white;
    box-shadow: 0 1px 2px 0 #000000;

    .expense-reports__header {
        text-align: left;
        font-size: 20px;
        position: relative;

        .img {
            position: absolute;
            right: 0;
            top: 0
        }
    }

    section > div {
        float: left;
        width: 50%;

        span {
            font-size: 80px;
        }
    }

    .icon-error,
    .icon-pending,
    .icon-progress,
    .icon-success {
        font-size: 20px;
    }

    .button {
        color: inherit;
        padding-top: 10px;
        background: blue;
        margin: 0 auto;
        padding-bottom: 10px;
        border-radius: 5px;
    }
}